/*Includes*/
/*GLOBAL VARIABLES*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Includes*/
/*GLOBAL VARIABLES*/
/*Colours*/
/*Fonts*/
/*Spacing*/
#about-hero .jumbotron {
  background-color: #4A535D;
  position: relative;
}
#about-hero .jumbotron h1 {
  margin: 130px 0 40px 0;
}
#about-hero .jumbotron a {
  margin-bottom: 60px;
  position: relative;
  z-index: 10;
}
#about-hero .container {
  position: relative;
  z-index: 10;
}
#about-hero .fullscreen-bg {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
#about-hero .fullscreen-bg .fullscreen-bg--video {
  bottom: 30px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

#about-skills {
  padding: 60px 0;
}
#about-skills img {
  width: 163px;
}
#about-skills .productmanagement-line {
  background-color: #4A535D;
}
#about-skills .uidesign-line {
  background-color: #FF2559;
}
#about-skills .frontend-line {
  background-color: #FFC325;
}
#about-skills .education-line {
  background-color: #25B0FF;
}
#about-skills h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.tech-icons img {
  width: 100% !important;
}

/*Includes*/
/*GLOBAL VARIABLES*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*ID's and Classes*/
footer {
  background-color: #4A535D;
  color: #fff;
  padding-top: 20px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #FF2559;
}

/*Includes*/
/*GLOBAL VARIABLES*/
/*Colours*/
/*Fonts*/
/*Spacing*/
.float-label-control {
  position: relative;
  margin-bottom: 3.5em;
}

.float-label-control ::-webkit-input-placeholder {
  color: transparent;
}

.float-label-control :-moz-placeholder {
  color: transparent;
}

.float-label-control ::-moz-placeholder {
  color: transparent;
}

.float-label-control :-ms-input-placeholder {
  color: transparent;
}

.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -moz-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
}

.float-label-control input, .float-label-control textarea, .float-label-control label {
  font-size: 1.3em;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.float-label-control input:focus,
.float-label-control textarea:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom-width: 2px;
  padding-bottom: 0;
}

.float-label-control textarea:focus {
  padding-bottom: 4px;
}

.float-label-control input, .float-label-control textarea {
  display: block;
  width: 100%;
  padding: 0.1em 0em 1px 0em;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #fff;
  outline: none;
  margin: 0px;
  background: none;
}

.float-label-control textarea {
  padding: 0.1em 0em 5px 0em;
}

.float-label-control label {
  position: absolute;
  font-weight: normal;
  top: -1.5em;
  left: 0.09em;
  color: #fff;
  /*z-index: -1;*/
  font-size: 0.85em;
  -moz-animation: float-labels 300ms none ease-out;
  -webkit-animation: float-labels 300ms none ease-out;
  -o-animation: float-labels 300ms none ease-out;
  -ms-animation: float-labels 300ms none ease-out;
  -khtml-animation: float-labels 300ms none ease-out;
  animation: float-labels 300ms none ease-out;
  /* There is a bug sometimes pausing the animation. This avoids that.*/
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
}

.float-label-control input.empty + label,
.float-label-control textarea.empty + label {
  top: 0.1em;
  font-size: 1em;
  animation: none;
  -webkit-animation: none;
}

.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label {
  z-index: 1;
}

.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label {
  color: rgba(255, 255, 255, 0.6);
}

.float-label-control.label-bottom label {
  -moz-animation: float-labels-bottom 300ms none ease-out;
  -webkit-animation: float-labels-bottom 300ms none ease-out;
  -o-animation: float-labels-bottom 300ms none ease-out;
  -ms-animation: float-labels-bottom 300ms none ease-out;
  -khtml-animation: float-labels-bottom 300ms none ease-out;
  animation: float-labels-bottom 300ms none ease-out;
}

.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label {
  top: 3em;
}

.form-control:focus {
  background-color: #25B0FF;
}

.message-border {
  border: 1px solid #fff !important;
  border-radius: 4px !important;
  height: 267px;
}

.send-button {
  width: 100%;
  height: 50px;
}

.form-margin--last {
  margin-bottom: 1em;
}

@keyframes float-labels {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em;
  }
  20% {
    font-size: 1.5em;
    opacity: 0;
  }
  30% {
    top: 0.1em;
  }
  50% {
    opacity: 0;
    font-size: 0.85em;
  }
  100% {
    top: -1em;
    opacity: 1;
  }
}
@-webkit-keyframes float-labels {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em;
  }
  20% {
    font-size: 1.5em;
    opacity: 0;
  }
  30% {
    top: 0.1em;
  }
  50% {
    opacity: 0;
    font-size: 0.85em;
  }
  100% {
    top: -1em;
    opacity: 1;
  }
}
@keyframes float-labels-bottom {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em;
  }
  20% {
    font-size: 1.5em;
    opacity: 0;
  }
  30% {
    top: 0.1em;
  }
  50% {
    opacity: 0;
    font-size: 0.85em;
  }
  100% {
    top: 3em;
    opacity: 1;
  }
}
@-webkit-keyframes float-labels-bottom {
  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em;
  }
  20% {
    font-size: 1.5em;
    opacity: 0;
  }
  30% {
    top: 0.1em;
  }
  50% {
    opacity: 0;
    font-size: 0.85em;
  }
  100% {
    top: 3em;
    opacity: 1;
  }
}
#work-together-form {
  margin: 60px 0;
}
#work-together-form .float-label-control label {
  color: #4A535D;
}
#work-together-form .form-control:focus {
  background-color: #fff;
}
#work-together-form .float-label-control input {
  border-bottom: 1px solid #4A535D;
}
#work-together-form .float-label-control input:focus {
  border-bottom: 1px solid #25B0FF;
}
#work-together-form .form-margin--last {
  border: 1px #4A535D solid;
  border-radius: 4px;
}
#work-together-form .work-together-menu {
  display: inline-flex;
  margin: 10px 0 40px 0;
}
#work-together-form .work-together-menu li {
  list-style: none;
  padding: 0 20px;
}
#work-together-form .work-together-menu li:hover {
  text-decoration: underline;
}

/*INCLUDES*/
/*GLOBAL VARIABLES*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*SCSS*/
.nav-bg {
  background-color: #4A535D;
}

nav a {
  color: #fff;
}
nav a:hover {
  text-decoration: underline;
}

.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}

/*INCLUDES*/
/*GLOBAL VARIABLES*/
/*Colours*/
/*Fonts*/
/*Spacing*/
.home-hero--bg {
  background-image: url("../img/home-hero.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.home-hero--bg h1 {
  margin-top: 130px;
  padding: 10px 0;
}
.home-hero--bg h3 {
  margin-top: 40px;
  padding: 10px 0;
}
.home-hero--bg .text-bg-color--light {
  background-color: rgba(255, 255, 255, 0.8);
}
.home-hero--bg .text-bg-color--dark {
  background-color: #4A535D;
}
.home-hero--bg a {
  color: #fff;
  margin-top: 10px;
}
.home-hero--bg a img {
  padding-bottom: 4px;
}
.home-hero--bg a:hover {
  color: #fff !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.home-hero--bg .modal-content {
  background-color: #000;
}

#my-focus {
  padding: 60px 0;
}
#my-focus .my-focus--space {
  padding-bottom: 40px;
}

.heading-focus--bgcolor {
  background-color: #4A535D;
  padding: 4px 0;
  margin-bottom: 60px;
}

#brands .jumbotron {
  margin-bottom: 0;
}
#brands .btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}
#brands .btn-outline-secondary:hover {
  color: #fff;
  background-color: #FF2559;
  border-color: #FF2559;
}
#brands .card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

#home-contact {
  background-color: #25B0FF;
  padding: 60px 0;
}

@media only screen and (max-width: 400px) {
  .responsive-xsm .col-xsm-4 {
    width: 25%;
    margin-bottom: 60px;
  }
}
/*Includes*/
/*GLOBAL VARIABLES*/
/*Colours*/
/*Fonts*/
/*Spacing*/
#blog-hero .jumbotron {
  background-color: #4A535D;
  height: 100%;
  position: absolute;
  width: 100%;
}
#blog-hero .jumbotron h1 {
  top: 50%;
}

.footer-bottom-fixed {
  position: fixed;
  border-top: white 1px solid;
  bottom: 0;
  width: 100%;
}

/*Includes*/
/*GLOBAL VARIABLES*/
/*Colours*/
/*Fonts*/
/*Spacing*/
#work-togher-hero .jumbotron {
  background-color: #4A535D;
  padding: 130px 0;
}

/*GLOBAL CLASSES*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #fff;
  color: rgba(74, 83, 93, 0.8);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h1, h2, h3,
.h1, .h2, .h3 {
  color: #4A535D;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

h1, .h1 {
  font-size: 4rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
  color: #FF2559;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

.btn-secondary {
  color: #fff;
  background-color: #FF2559;
  border-color: #FF2559;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #CA0F3B;
  border-color: #CA0F3B;
}

.white {
  color: #fff;
}

.bg-color-primary {
  background-color: #4A535D;
}

.btn-primary {
  color: #fff;
  background-color: #FF2559;
  border-color: #FF2559;
}
.btn-primary :hover {
  color: #fff;
  background-color: #FF3A69;
  border-color: #FF3A69;
}

.font-special-rslab {
  font-family: "Roboto Slab", serif;
}

.padding-medium--tb {
  padding: 60px;
}

.padding-medium--t {
  padding-top: 100px;
}

/*# sourceMappingURL=styles.css.map */
