/*INCLUDES*/
@import '_variables.scss';

.home-hero--bg {
	background-image: url("../img/home-hero.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;

	h1 {
		margin-top: $padding-large;
		padding: $padding-xsmall 0;
	}
	h3 {
		margin-top: $margin-small;
		padding: $padding-xsmall 0;
	}

	.text-bg-color--light {
		background-color: rgba($white, 80%);
	}
	.text-bg-color--dark {
		background-color: $dark-blue;
	}
	a {
		color: $white;
		margin-top: $margin-xsmall;

		img {
			padding-bottom: $padding-xxsmall;
		}
	}
	a:hover {
		color: $white !important;
		box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
	}
	.modal-content {
		background-color: #000;
	}
}
#my-focus {
	padding: $padding-medium 0;

	.my-focus--space {
		padding-bottom: $padding-small;
	}
}
.heading-focus--bgcolor {
	background-color: $dark-blue;
	padding: $padding-xxsmall 0;
	margin-bottom: $margin-medium;
}
#brands {
	.jumbotron {
		margin-bottom: 0;
	}
	.btn-outline-secondary {
	  color: #6c757d;
	  background-color: transparent;
	  background-image: none;
	  border-color: #6c757d;
	}
	.btn-outline-secondary:hover {
		color: $white;
		background-color: $pink;
		border-color: $pink;
	}
	.card:hover {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	}

}

#home-contact {
	background-color: #25B0FF;
	padding: $padding-medium 0;
}

@media only screen and (max-width: 400px) {
    .responsive-xsm .col-xsm-4 {
        width: 25%;
        margin-bottom: $margin-medium;
    }
}